.link {
  color: white;
  font-size: 22px;
  text-decoration: none;
}:hover {
  color: black;
  text-decoration: none !important;
}

.home-container {
  text-align: center;
}

.name {
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  font-family: "Avenir Next";
}

.descrip {
  font-size: 24px;
  font-style: italic;
  font-family: "Avenir Next";
}

.exp {
  font-size: 28px;
  font-family: "Avenir Next";
  padding-top: 40px;
  padding-bottom: 20px;
}

.imgs {
  height: 75px;
}

@media only screen and (max-width: 400px) {
  .imgs {
    height: 60px;
  }
  .name {
    font-size: 34px;
  }
  .descrip {
    font-size: 16px;
  }
  .exp {
    font-size: 20px;
  }
}
@media only screen and (min-width:400px) and (max-width: 600px) {
  .name {
    font-size: 34px;
  }
  .descrip {
    font-size: 16px;
  }
  .exp {
    font-size: 24px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 720px) {
  .descrip {
    font-size: 18px;
  }
}

.icons {
  height: 80px;
  text-align: center;
}

.icon-list {
  list-style: none;
  align-items: center;
  margin-left: -40px;
}

.logos {
  display: inline-block;
  text-overflow: show;
  white-space: nowrap;
  margin-top: 25px;
  margin-right: 20px;
}

.exp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exp-box {
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.exp-descrip {
  background: #ea4141;
  text-align: center;
  top: 100%;
  color: #fff;
  padding: 15% 10%;
}

.exp-img {
  height: 75px;
}

.skill-list {
  list-style: none;
}

.skills-container {
  text-align: center;
}

.skill-item {
  white-space: nowrap;
  display: inline;
  background-color: #eee;
  border-radius: 4px;
  margin-left: .25rem;
  margin-right: .25rem;
  padding-left: .55rem;
  padding-right: .55rem;
  color: #4a4a4a;
  font-size: .75rem;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
}

.skill-category {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: medium;
  font-family: "Avenir Next";
}