.link {
  color: white;
  font-size: 22px;
  text-decoration: none;
}:hover {
  color: black;
  text-decoration: none !important;
}

.home-container {
  text-align: center;
}

.name {
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  font-family: "Avenir Next";
}

.descrip {
  font-size: 24px;
  font-style: italic;
  font-family: "Avenir Next";
}

.exp {
  font-size: 28px;
  font-family: "Avenir Next";
  padding-top: 40px;
  padding-bottom: 20px;
}

.imgs {
  height: 75px;
}

@media only screen and (max-width: 400px) {
  .imgs {
    height: 60px;
  }
  .name {
    font-size: 34px;
  }
  .descrip {
    font-size: 16px;
  }
  .exp {
    font-size: 20px;
  }
}
@media only screen and (min-width:400px) and (max-width: 600px) {
  .name {
    font-size: 34px;
  }
  .descrip {
    font-size: 16px;
  }
  .exp {
    font-size: 24px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 720px) {
  .descrip {
    font-size: 18px;
  }
}

.icons {
  height: 80px;
  text-align: center;
}

.icon-list {
  list-style: none;
  align-items: center;
  margin-left: -40px;
}

.logos {
  display: inline-block;
  text-overflow: show;
  white-space: nowrap;
  margin-top: 25px;
  margin-right: 20px;
}

.exp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exp-descrip {
  background: #ea4141;
  text-align: center;
  top: 100%;
  color: #fff;
  padding: 15% 10%;
}

.example {
  position: relative;
  padding: 0;
  width: 125px;
  height: 125px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.content {
  font-family: "Avenir Next";
  opacity: 0;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  color :white !important;
  background-color: purple;
  width: 125px;
  height: 125px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.example .content:hover { opacity: 0.85; }   

.example .content .text {
  color :white !important;
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.example .content .text .company {
  color :white !important;
  opacity: 1;
  font-family: "Avenir Next";
  font-size: 18px;
  padding-top: 25%;
  padding-left: 5%;
  padding-right: 5%;
}

.example .content .text .title {
  color :white !important;
  opacity: 1;
  font-family: "Avenir Next";
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%;
}

.example .content:hover .text {
  color :white !important;
  opacity:1;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}

.skill-title {
  padding-top: 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  font-family: "Avenir Next";
}

.skill-list {
  list-style: none;
}

.skill-item {
  white-space: nowrap;
  display: inline;
  background-color: #eee;
  border-radius: 4px;
  margin-left: .25rem;
  margin-right: .25rem;
  margin-bottom: .6rem;
  padding-left: .55rem;
  padding-right: .55rem;
  color: #4a4a4a;
  font-size: .75rem;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
}

.skill-category {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: medium;
  font-family: "Avenir Next";
}

