.home-container {
  text-align: center;
}

.name {
  text-transform: uppercase;
  font-size: 48px;
  font-family: "Avenir Next";
}

.descrip {
  font-size: medium;
  font-style: italic;
  font-family: "Avenir Next";
}

.link {
  color: white;
  font-size: 22px;
  text-decoration: none;
}:hover {
  color: black;
  text-decoration: none !important;
}

.skill-list {
  list-style: none;
}

.skills-container {
  text-align: center;
}

.skill-item {
  display: inline;
  background-color: #eee;
  border-radius: 4px;
  margin-left: .25rem;
  margin-right: .25rem;
  padding-left: .55rem;
  padding-right: .55rem;
  color: #4a4a4a;
  font-size: .75rem;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0,0,0,.12), 0 1px 1px rgba(0,0,0,.24);
}

.skill-category {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: medium;
  font-family: "Avenir Next";
}

.logos {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
}